
.registracijaDiv{
	/*border: 1px solid black;*/
	border-radius: 25px;
	padding: 20px;
	text-alingment:center;
	height:auto;
	width:800px;
	margin:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  	background-color: #f1f1f1;
}

form{
	margin:auto;
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 50px;
	padding-bottom:50px;
}

/*** postavljamo za profil za kupca sortiranje rezervisanih i pretraga karti ***/
#pretragaPoNazivu{
	margin:auto;
	padding-left: 120px;
	padding-right: 150px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#pretragaPoCeni{
	margin:auto;
	padding-left: 120px;
	padding-right: 150px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#pretragaPoDatumu{
	margin:auto;
	padding-left: 120px;
	padding-right: 150px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#sortiranjeForma{
	margin:auto;
	padding-left: 120px;
	padding-right: 150px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#filtriranjeFormaTip{
	margin:auto;
	padding-left: 120px;
	padding-right: 150px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#filtriranjeFormaStatus{
	margin:auto;
	padding-left: 120px;
	padding-right: 150px;
	padding-top: 0px;
	padding-bottom: 0px;
}






* {
  box-sizing: border-box;
}

/*#radioDeo{
	float:right;
	padding: 12px;
}*/

input[type=text],input[type=date],  textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float:right;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
/*label #radioDugmic{
	float:right;
	
}*/

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
#undoDugme{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-bottom: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#dugmicPotvrde{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
	
}

input[type=submit]:hover {
  background-color: #45a049;
}

/***** select ******/
select #sortiranjeKarata{
  /*width: 50%;*/
  border-radius: 4px;
  resize: vertical;
}

/******* izmena manifestacije select dugmici *****/
div select #tip{
  padding: 12px 20px;
  border-radius: 4px;
  float: right;
}

input[name= "datum"]{
	padding: 12px 20px;
  	border-radius: 4px;
  	float: right;
}

div #radioDeo{
	padding: 12px 20px;
  	float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}